.section{
    font-size: 6em;
    text-align: center;
}
/* Backgrounds will cover all the section
    * --------------------------------------- */
    .section{
        background-size: cover;
    }

    .slide{
        background-size: cover;
    }

    /* Defining each section background and styles
    * --------------------------------------- */
    #section0{
        background-image: url(1.jpg);
        /*padding: 30% 0 0 0; */
    }
    #section2{
        background-image: url(2.jpg);
    /*	padding: 6% 0 0 0; */
    }
    #section1{
        background-image: url(3.jpg);
    /*	padding: 6% 0 0 0; */
    }

 .landing {
    background: rgba(175, 175, 175, 0.6) !important;
  }
  .jumbotron {
    background: rgba(175, 175, 175, 0.6) !important;

  }

  #kitty {
    padding-left: 15px;
    font-size: 25px !important;
    letter-spacing: 3.7pt;
  }

  #fp-nav {
    top: 5%;
  }

  .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
